body{
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

header h1{
    color:#e59560;
    text-align: center;
    background-color: #f6f4e8;
}
main{
    background-color: #f6f4e8;
    
}
header p{
    text-align: center;
    color: #bacec1;
    
    
}
h2{
    color:#bacec1;
    text-align: center;
}
           /*nav stuff goes here*/
nav{
    background-color: #bacec1;
}
nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
}
main{
    padding: 1rem 2vw;
}
main h2{
    color:#1d3124;
}
main h2{
    color:#1d3124;
}
.navbar ul{
    overflow: hidden;
    background-color: #1d3124;
    }

.navbar a{
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
    text-decoration: none;
    display:block;
    
}
.navbar li{
    float:left;
    color: #1d3124;
   
}

    
    
