body{
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

header{
    background-color: #5a5b6b;
    padding: 1rem; 2vw;
    
    
}
header h1{
    margin: 0;
    color: #222547;
    }
header p {
    margin: 0;
    color: #222547;
    letter-spacing: .5px;
    }
    
nav{
    background-color: #a3a5c2;
}
nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
}
    
    
